<!DOCTYPE html>
<html>
  <head>
    <title>forgot-Password</title>
    <link rel="stylesheet" href="CSS/forgotPassCSS.css">
  </head>
  <body background = "images/fpass.jpg">
    <form action="../controller/forgotPassword.php" method="post">
      <h1 class="fPassword">Forgot Password</h1>
        <h3 class="fPassword">Enter the Email Id</h3>
        <input class="fPassword" type="email" name="email" value="" required><br><br>
        <input class="fPassword" type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
