body{
  background: url("../images/income.png");
  background-repeat: no-repeat;
  background-size: 1600px;
}
h1.title{
  font-style: italic;
  margin-top: 100px;
  margin-left: 900px;
}
.income{
  margin-left: 100px;
  margin-top: -10px;
  float: left;
}
